/* Remove margin and padding for body and root element */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black; overflow-x: hidden;
}

body, html, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;  /* Prevents horizontal overflow */
}

